@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');
* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body 
    .wrapper {
        background-color: whitesmoke;
        font-weight: 100px;
        width: 100%;
        max-width: 960px;
        margin: 0 auto;
    }
    .logo {
        letter-spacing: 5px;
        font-family:inherit;
        font-size: 3em;
        color:rgb(121, 118, 118);
    }
    span {
        font-family:cursive;
        color:rgb(98, 93, 93);
    }
nav {
    background: whitesmoke;
}
nav ul {
    list-style-type: none;
    padding: 0;
}
nav a {
    text-decoration: none;
    font-size: 2em;
    text-align: center;
    color: rgb(121, 118, 118);
    display: block;
    padding:18px ;
    

}
nav a:hover {
    background-color: #555;
}
.hero-gallery {
    width: 90%;
    padding: 20px;
    margin: 100px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.gallery {
    width: 250px;
    margin: 0;
    transition: 1s;

}
.gallery img {
    display: block;
    width: 100%;
}
.gallery:hover {
    transform: scale(1.3);
    z-index: 2;

}
footer {
    
    width: 100%;
    background-color:rgb(20, 19, 19);;
    padding: 30px 0;
    flex-direction: column;
}
.social-media {
    display: flex;
    text-align: center;
    padding-bottom: 0;
    color: rgb(247, 239, 239);
    justify-content: center;
    list-style: none;

}

.social-media a {
    font-size: 16px;
    color: inherit;
    width: 140px;
    height: 40px;
    line-height: 30px;
    display: inline-block;
    text-align: center;
    opacity: .7;
    
}

.social-media:hover {
    transition: .3s;
    color: rgb(247, 239, 239);
    transition: 1s;
    
}
#twitter:hover {
    transition: .3s;
    color:#00acee;
    transition: .3s;
}
#youtube:hover {
    transition: .3s;
    color:#FF0000;
    transition: .3s;
}
#instagram:hover {
    transition: .3s;
    color:#FCAF45;
    transition: .3s;
}
#facebook:hover{
    transition: .3s;
    color: 	#4267B2;
    transition: .3s;
}
.menu-bar-footer {
    justify-content: center;
    padding-top: 10px;
}